.vscode/settings.json
work/_info
.vscode/settings.json
PRBS.mpf
work/_lib.qdb
work/_lib1_0.qdb
work/_lib1_0.qpg
work/_lib1_0.qtl
work/_vmake
PRBS.cr.mti
PRBS.mpf_new
vsim.wlf
project_1/project_1.xpr
project_1/project_1.cache/wt/gui_handlers.wdf
project_1/project_1.cache/wt/java_command_handlers.wdf
project_1/project_1.cache/wt/project.wpc
project_1/project_1.cache/wt/synthesis_details.wdf
project_1/project_1.cache/wt/synthesis.wdf
project_1/project_1.cache/wt/webtalk_pa.xml
project_1/project_1.cache/wt/xsim.wdf
project_1/project_1.hw/project_1.lpr
project_1/project_1.runs/.jobs/vrs_config_1.xml
project_1/project_1.runs/.jobs/vrs_config_2.xml
project_1/project_1.runs/synth_1/__synthesis_is_complete__
project_1/project_1.runs/synth_1/.Vivado_Synthesis.queue.rst
project_1/project_1.runs/synth_1/.vivado.begin.rst
project_1/project_1.runs/synth_1/.vivado.end.rst
project_1/project_1.runs/synth_1/gen_run.xml
project_1/project_1.runs/synth_1/htr.txt
project_1/project_1.runs/synth_1/ISEWrap.js
project_1/project_1.runs/synth_1/ISEWrap.sh
project_1/project_1.runs/synth_1/PRBS_PD_tb_utilization_synth.pb
project_1/project_1.runs/synth_1/PRBS_PD_tb_utilization_synth.rpt
project_1/project_1.runs/synth_1/PRBS_PD_tb.dcp
project_1/project_1.runs/synth_1/PRBS_PD_tb.tcl
project_1/project_1.runs/synth_1/PRBS_PD_tb.vds
project_1/project_1.runs/synth_1/project.wdf
project_1/project_1.runs/synth_1/rundef.js
project_1/project_1.runs/synth_1/runme.bat
project_1/project_1.runs/synth_1/runme.log
project_1/project_1.runs/synth_1/runme.sh
project_1/project_1.runs/synth_1/vivado.jou
project_1/project_1.runs/synth_1/vivado.pb
project_1/project_1.sim/sim_1/behav/xsim/compile.bat
project_1/project_1.sim/sim_1/behav/xsim/compile.log
project_1/project_1.sim/sim_1/behav/xsim/elaborate.bat
project_1/project_1.sim/sim_1/behav/xsim/elaborate.log
project_1/project_1.sim/sim_1/behav/xsim/glbl.v
project_1/project_1.sim/sim_1/behav/xsim/PRBS_PD_tb_behav.wdb
project_1/project_1.sim/sim_1/behav/xsim/PRBS_PD_tb_vlog.prj
project_1/project_1.sim/sim_1/behav/xsim/PRBS_PD_tb.tcl
project_1/project_1.sim/sim_1/behav/xsim/simulate.bat
project_1/project_1.sim/sim_1/behav/xsim/simulate.log
project_1/project_1.sim/sim_1/behav/xsim/xelab.pb
project_1/project_1.sim/sim_1/behav/xsim/xsim.ini
project_1/project_1.sim/sim_1/behav/xsim/xvlog.log
project_1/project_1.sim/sim_1/behav/xsim/xvlog.pb
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xsim.svtype
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/Compile_Options.txt
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/TempBreakPointFile.txt
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsim.dbg
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsim.mem
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsim.reloc
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsim.rlx
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsim.rtti
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsim.svtype
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsim.type
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsim.xdbg
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsimcrash.log
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsimk.exe
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsimkernel.log
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/xsimSettings.ini
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/obj/xsim_0.win64.obj
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/obj/xsim_1.c
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/obj/xsim_1.win64.obj
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/webtalk/.xsim_webtallk.info
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/webtalk/usage_statistics_ext_xsim.wdm
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/PRBS_PD_tb_behav/webtalk/xsim_webtalk.tcl
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@p@r@b@s_@p@d_@w@p@r.sdb
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@p@r@b@s_@p@d_tb.sdb
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@p@r@b@s.sdb
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/pattern_detector.sdb
project_1/project_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
work/_lib1_1.qdb
work/_lib1_1.qpg
work/_lib1_1.qtl
work/@_opt/_lib.qdb
work/@_opt/_lib1_0.qdb
work/@_opt/_lib1_0.qpg
work/@_opt/_data/exempts7y1nm
work/@_opt/_data/exempt0yawqw
work/@_opt/_data/exempt0iswvq
work/@_opt/_lib6_0.qtl
work/@_opt/_lib6_0.qpg
work/@_opt/_lib6_0.qdb
work/@_opt/_lib5_0.qtl
work/@_opt/_lib5_0.qpg
work/@_opt/_lib5_0.qdb
work/@_opt/_lib4_0.qtl
work/@_opt/_lib4_0.qpg
work/@_opt/_lib4_0.qdb
work/@_opt/_lib3_0.qtl
work/@_opt/_lib3_0.qpg
work/@_opt/_lib3_0.qdb
work/@_opt/_lib2_0.qtl
work/@_opt/_lib2_0.qpg
work/@_opt/_lib2_0.qdb
work/@_opt/_lib1_0.qtl
project_1/project_1.runs/.jobs/vrs_config_3.xml
project_1/project_1.runs/.jobs/vrs_config_4.xml
project_1/project_1.runs/.jobs/vrs_config_5.xml
project_1/project_1.runs/.jobs/vrs_config_6.xml
project_1/project_1.runs/impl_2/.init_design.begin.rst
project_1/project_1.runs/impl_2/.init_design.end.rst
project_1/project_1.runs/impl_2/.opt_design.begin.rst
project_1/project_1.runs/impl_2/.opt_design.end.rst
project_1/project_1.runs/impl_2/.place_design.begin.rst
project_1/project_1.runs/impl_2/.place_design.end.rst
project_1/project_1.runs/impl_2/.route_design.begin.rst
project_1/project_1.runs/impl_2/.route_design.end.rst
project_1/project_1.runs/impl_2/.stop.rst
project_1/project_1.runs/impl_2/gen_run.xml
project_1/project_1.runs/impl_2/htr.txt
project_1/project_1.runs/impl_2/init_design.pb
project_1/project_1.runs/impl_2/ISEWrap.js
project_1/project_1.runs/impl_2/ISEWrap.sh
project_1/project_1.runs/impl_2/opt_design.pb
project_1/project_1.runs/impl_2/place_design.pb
project_1/project_1.runs/impl_2/PRBS_PD_WPR_13256.backup.vdi
project_1/project_1.runs/impl_2/PRBS_PD_WPR_bus_skew_routed.pb
project_1/project_1.runs/impl_2/PRBS_PD_WPR_bus_skew_routed.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_bus_skew_routed.rpx
project_1/project_1.runs/impl_2/PRBS_PD_WPR_clock_utilization_routed.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_control_sets_placed.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_drc_opted.pb
project_1/project_1.runs/impl_2/PRBS_PD_WPR_drc_opted.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_drc_opted.rpx
project_1/project_1.runs/impl_2/PRBS_PD_WPR_drc_routed.pb
project_1/project_1.runs/impl_2/PRBS_PD_WPR_drc_routed.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_drc_routed.rpx
project_1/project_1.runs/impl_2/PRBS_PD_WPR_io_placed.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_methodology_drc_routed.pb
project_1/project_1.runs/impl_2/PRBS_PD_WPR_methodology_drc_routed.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_methodology_drc_routed.rpx
project_1/project_1.runs/impl_2/PRBS_PD_WPR_opt.dcp
project_1/project_1.runs/impl_2/PRBS_PD_WPR_placed.dcp
project_1/project_1.runs/impl_2/PRBS_PD_WPR_power_routed.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_power_routed.rpx
project_1/project_1.runs/impl_2/PRBS_PD_WPR_power_summary_routed.pb
project_1/project_1.runs/impl_2/PRBS_PD_WPR_route_status.pb
project_1/project_1.runs/impl_2/PRBS_PD_WPR_route_status.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_routed.dcp
project_1/project_1.runs/impl_2/PRBS_PD_WPR_timing_summary_routed.pb
project_1/project_1.runs/impl_2/PRBS_PD_WPR_timing_summary_routed.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_timing_summary_routed.rpx
report/waveform.png
report/elaborated design.png
project_1/project_1.srcs/constrs_1/new/PRBS_PD_WPR.xdc
project_1/project_1.runs/synth_2/.Xil/PRBS_PD_WPR_propImpl.xdc
project_1/project_1.runs/synth_2/vivado.pb
project_1/project_1.runs/synth_2/vivado.jou
project_1/project_1.runs/synth_2/runme.sh
project_1/project_1.runs/synth_2/runme.log
project_1/project_1.runs/synth_2/runme.bat
project_1/project_1.runs/synth_2/rundef.js
project_1/project_1.runs/synth_2/project.wdf
project_1/project_1.runs/synth_2/PRBS_PD_WPR.vds
project_1/project_1.runs/synth_2/PRBS_PD_WPR.tcl
project_1/project_1.runs/synth_2/PRBS_PD_WPR.dcp
project_1/project_1.runs/synth_2/PRBS_PD_WPR_utilization_synth.rpt
project_1/project_1.runs/synth_2/PRBS_PD_WPR_utilization_synth.pb
project_1/project_1.runs/synth_2/ISEWrap.sh
project_1/project_1.runs/synth_2/ISEWrap.js
project_1/project_1.runs/synth_2/htr.txt
project_1/project_1.runs/synth_2/gen_run.xml
project_1/project_1.runs/synth_2/.vivado.end.rst
project_1/project_1.runs/synth_2/.vivado.begin.rst
project_1/project_1.runs/synth_2/.Vivado_Synthesis.queue.rst
project_1/project_1.runs/synth_2/__synthesis_is_complete__
project_1/project_1.runs/impl_2/.Xil/Vivado-10036-DESKTOP-OP2NBAN/.lpr
project_1/project_1.runs/impl_2/vivado.pb
project_1/project_1.runs/impl_2/vivado.jou
project_1/project_1.runs/impl_2/vivado_13256.backup.jou
project_1/project_1.runs/impl_2/runme.sh
project_1/project_1.runs/impl_2/runme.log
project_1/project_1.runs/impl_2/runme.bat
project_1/project_1.runs/impl_2/rundef.js
project_1/project_1.runs/impl_2/route_design.pb
project_1/project_1.runs/impl_2/project.wdf
project_1/project_1.runs/impl_2/PRBS_PD_WPR.tcl
project_1/project_1.runs/impl_2/PRBS_PD_WPR.dcp
project_1/project_1.runs/impl_2/PRBS_PD_WPR_utilization_placed.rpt
project_1/project_1.runs/impl_2/PRBS_PD_WPR_utilization_placed.pb
project_1/.jobs/vrs_config_1.xml
project_1/project_1.runs/.jobs/vrs_config_7.xml
project_1/project_1.runs/.jobs/vrs_config_8.xml
project_1/project_1.runs/.jobs/vrs_config_9.xml
project_1/project_1.runs/.jobs/vrs_config_10.xml
project_1/project_1.runs/.jobs/vrs_config_11.xml
project_1/project_1.runs/.jobs/vrs_config_12.xml
project_1/project_1.runs/.jobs/vrs_config_13.xml
project_1/project_1.runs/.jobs/vrs_config_14.xml
project_1/project_1.runs/.jobs/vrs_config_15.xml
project_1/project_1.runs/.jobs/vrs_config_16.xml
project_1/project_1.runs/.jobs/vrs_config_17.xml
project_1/project_1.runs/impl_2/write_bitstream.pb
project_1/project_1.runs/impl_3/.init_design.begin.rst
project_1/project_1.runs/impl_3/.init_design.end.rst
project_1/project_1.runs/impl_3/.opt_design.begin.rst
project_1/project_1.runs/impl_3/.opt_design.end.rst
project_1/project_1.runs/impl_3/.place_design.begin.rst
project_1/project_1.runs/impl_3/.place_design.end.rst
project_1/project_1.runs/impl_3/.route_design.begin.rst
project_1/project_1.runs/impl_3/.route_design.end.rst
project_1/project_1.runs/impl_3/.Vivado_Implementation.queue.rst
project_1/project_1.runs/impl_3/.vivado.begin.rst
project_1/project_1.runs/impl_3/.vivado.end.rst
project_1/project_1.runs/impl_3/.write_bitstream.begin.rst
project_1/project_1.runs/impl_3/.write_bitstream.end.rst
project_1/project_1.runs/impl_3/gen_run.xml
project_1/project_1.runs/impl_3/htr.txt
project_1/project_1.runs/impl_3/init_design.pb
project_1/project_1.runs/impl_3/ISEWrap.js
project_1/project_1.runs/impl_3/ISEWrap.sh
project_1/project_1.runs/impl_3/opt_design.pb
project_1/project_1.runs/impl_3/place_design.pb
project_1/project_1.runs/impl_3/PRBS_PD_WPR_9900.backup.vdi
project_1/project_1.runs/impl_3/PRBS_PD_WPR_bus_skew_routed.pb
project_1/project_1.runs/impl_3/PRBS_PD_WPR_bus_skew_routed.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_bus_skew_routed.rpx
project_1/project_1.runs/impl_3/PRBS_PD_WPR_clock_utilization_routed.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_control_sets_placed.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_drc_opted.pb
project_1/project_1.runs/impl_3/PRBS_PD_WPR_drc_opted.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_drc_opted.rpx
project_1/project_1.runs/impl_3/PRBS_PD_WPR_drc_routed.pb
project_1/project_1.runs/impl_3/PRBS_PD_WPR_drc_routed.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_drc_routed.rpx
project_1/project_1.runs/impl_3/PRBS_PD_WPR_io_placed.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_methodology_drc_routed.pb
project_1/project_1.runs/impl_3/PRBS_PD_WPR_methodology_drc_routed.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_methodology_drc_routed.rpx
project_1/project_1.runs/impl_3/PRBS_PD_WPR_opt.dcp
project_1/project_1.runs/impl_3/PRBS_PD_WPR_placed.dcp
project_1/project_1.runs/impl_3/PRBS_PD_WPR_power_routed.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_power_routed.rpx
project_1/project_1.runs/impl_3/PRBS_PD_WPR_power_summary_routed.pb
project_1/project_1.runs/impl_3/PRBS_PD_WPR_route_status.pb
project_1/project_1.runs/impl_3/PRBS_PD_WPR_route_status.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_routed.dcp
project_1/project_1.runs/impl_3/PRBS_PD_WPR_timing_summary_routed.pb
project_1/project_1.runs/impl_3/PRBS_PD_WPR_timing_summary_routed.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR_timing_summary_routed.rpx
project_1/project_1.runs/impl_3/PRBS_PD_WPR_utilization_placed.pb
project_1/project_1.runs/impl_3/PRBS_PD_WPR_utilization_placed.rpt
project_1/project_1.runs/impl_3/PRBS_PD_WPR.bin
project_1/project_1.runs/impl_3/PRBS_PD_WPR.bit
project_1/project_1.runs/impl_3/PRBS_PD_WPR.tcl
project_1/project_1.runs/impl_3/PRBS_PD_WPR.vdi
project_1/project_1.runs/impl_3/project.wdf
project_1/project_1.runs/impl_3/route_design.pb
project_1/project_1.runs/impl_3/rundef.js
project_1/project_1.runs/impl_3/runme.bat
project_1/project_1.runs/impl_3/runme.log
project_1/project_1.runs/impl_3/runme.sh
project_1/project_1.runs/impl_3/usage_statistics_webtalk.html
project_1/project_1.runs/impl_3/usage_statistics_webtalk.xml
project_1/project_1.runs/impl_3/vivado_9900.backup.jou
project_1/project_1.runs/impl_3/vivado.jou
project_1/project_1.runs/impl_3/vivado.pb
project_1/project_1.runs/impl_3/write_bitstream.pb
report/Timing.png
project_1/basys_PRBS.xdc
report/implementation.png
report/PRBS_PD_WPR.bit
report/synthesis.png
